<% @title= "Room" %>

<%= render 'layouts/navigation' %>

<div class="jumbotron jumbotron_others">
  <div class="container">
    <%= link_to root_path, class:"back" do %>
      <h2 class="col-xs-1 ">
      <span class="glyphicon glyphicon-fast-backward"></span>
      </h2>
      <% end %>

    <h2 class="text-center">Select a Room</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-offset-2 col-xs-8">
    <input class="form-control" id="searchBuilding" type="text" placeholder="Search for a Room...">
  </div>
</div>

<div class="container-fluid">
  <div class="list-group text-center rooms">
    <%= link_to "Room 1", schedule_path, class: "list-group-item col-md-4 col-sm-6 room" %>
    <%= link_to "Room 2", schedule_path, class: "list-group-item col-md-4 col-sm-6 room" %>
    <%= link_to "Room 3", schedule_path, class: "list-group-item col-md-4 col-sm-6 room" %>
    <%= link_to "Room 4", schedule_path, class: "list-group-item col-md-4 col-sm-6 room" %>
    <%= link_to "Room 5", schedule_path, class: "list-group-item col-md-4 col-sm-6 room" %>
    <%= link_to "Room 6", schedule_path, class: "list-group-item col-md-4 col-sm-6 room" %>
  </div>
</div>
