<% @title= "Schedule" %>

<%= render 'jumbotron' %>

<div class="container">
  <%= link_to :back, class:"back" do %>
    <h2 class="col-xs-12 col-sm-1">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </h2>
  <% end %>

  <h2 class="text-center">Schedule of a '<%= @room.title %>'</h2>
  <hr>
  <h3 align="center">Week: <%= "#{Date.new(2017,12,4).strftime("%d.%m.%Y")} - #{Date.new(2017,12,10).strftime("%d.%m.%Y")}" %></h3>
  <div class="table-responsive">
    <table id="schedule_table" class="table table-striped table-bordered">
      <tbody>
      <% day = nil %>
      <% @room.lessons.each do |lesson| %>
        <% if (lesson.start_at > DateTime.new(2017,12,3)) && (lesson.end_at < DateTime.new(2017,12,11))

          # if (Date.today.at_beginning_of_week..Date.today.at_end_of_week).cover?(lesson.end_at)

              # POUZIL BY SOM TUTO KONSTRUKCIU, ABY SA ROZVRH MENIL KAZDY TYZDEN, NO PRE ZNAZORNENIE FUNKCIONALITY NASTAVIM
              # STATICKY TYZDEN. TAKTIEZ BY SOM TUTO KONSTRUKCIU POUZIL HORE V <h3> TAGU NA DYNAMICKE MENENIE TYZDNA.
        %>
           <% if (day == nil) || day != Lesson.day(lesson.end_at) %>
            <% day = Lesson.day(lesson.end_at) %>
            <tr>
              <td>
                <div class="text-center"><strong><%= day %></strong></div>
              </td>
              <td><div align="center"><small><%= "#{convert_time(lesson.start_at)} - #{convert_time(lesson.end_at)}" %></small></div>
                    <div align="center"> <%="#{lesson.course.title}  /#{lesson.course.language.upcase_first}/" %></div>
                  <div align="center"><small><%= lesson.teacher.first_name + " " + lesson.teacher.last_name %></small></div>
              </td>

          <% else %>
            <td><div align="center"><small><%= "#{convert_time(lesson.start_at)} - #{convert_time(lesson.end_at)}"%></small></div>
              <div align="center"> <%="#{lesson.course.title}  /#{lesson.course.language.upcase_first}/" %></div>
              <div align="center"><small><%= lesson.teacher.first_name + " " + lesson.teacher.last_name %></small></div>
            </td>
          <% end %>


          <% if day != Lesson.day(lesson.end_at) %>
              </tr>
          <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
