<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Buildings", root_path%></li>
      <% if logged_in? %>
      <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
      <% end %>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(admin_buildings_path) %>"><%= link_to "Admin", admin_buildings_path %></li>
      </ul>
  </div>
</nav>