<!DOCTYPE html>
<html>
  <head>
    <title>  <%= if request.path_info.include?('admin')
                  @title = "Admin"
               else
                  @title
                 end %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>
    <%= yield %>

  </body>
</html>
